.layout-container {
  background-color: var(--primary-background);
  padding-bottom: 150px;
  min-height: 100vh;

  .main-section {
    padding: 0 120px;
    @media only screen and (max-width: 800px) {
      padding: 0 48px;
    }
  }
  .content-divider {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 36px;
    display: flex;
    justify-content: left;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-left: 0;
    width: fit-content;
    padding: 12px 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    @media only screen and (max-width: 1150px) {
      // margin-top: 125px;
    }
    @media only screen and (max-width: 800px) {
      // margin: 64px 0;
    }
  }
}
