.navigation-container {
  background-color: var(--nav-background);
  z-index: 100;
  position: sticky;
  border-top-style: none;
  top: 0;
  left: 0;
  padding: 36px 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  @media only screen and (max-width: 800px) {
    padding: 28px 48px;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 350px) {
    padding: 28px 36px;

    font-size: 14px;
  }
  .menu-section {
    display: flex;
    gap: 50px;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 20px;
    @media only screen and (max-width: 350px) {
      font-size: 14px;
    }
  }
  .switch-theme {
    p {
      margin: 0;
      font-size: 36px;
      user-select: none; /* standard syntax */
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
    }
  }
}
