@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root[data-theme="light"] {
  --primary-font: "Work Sans", sans-serif;
  --primary-background: #eef1f6;
  --nav-background: rgba(239, 241, 246, 0.671);
  --secondary-background: rgb(18 67 255 / 7%);

  --caution-color: #b71c1c;
  --primary-color: #566f94;
  --secondary-color: #626261;
  --content-background: #297cf630;
  --main-color: #313130;
  --description-color: black;
  --nav-color: black;
  --modal-background: #dfe5f8;
  --accordion-background: rgb(18 67 255 / 7%);
  --accordion-content: var(--primary-color);
}
:root[data-theme="dark"] {
  --primary-font: "Work Sans", sans-serif;
  --primary-background: #061539;
  --secondary-background: #566f94ad;
  --nav-background: #071538ab;
  --caution-color: #b71c1cba;
  --primary-color: #e59e9e;
  --secondary-color: #c0c0c0;
  --content-background: #297cf630;
  --main-color: #dededed1;
  --description-color: var(--secondary-color);
  --nav-color: #ffffffbf;
  --modal-background: #3c5277;

  --accordion-background: #566f94ad;
  --accordion-content: var(--description-color);
}

$primary-font: var(--primary-font);
