.aboutpage-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  .header {
    display: flex;
    .info-topic {
      margin: 0;
      font-size: 80px;
      font-weight: 400;
      font-family: var(--secondary-font);
      color: var(--main-color);
      margin-left: 36px;
      @media only screen and (max-width: 800px) {
        margin-left: 0;
        font-size: 64px;
      }
    }
  }
  .interest {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    .content {
      border: 2px solid var(--secondary-color);
      margin: 0;

      padding: 8px 18px;
      border-radius: 24px;
      &:hover {
        cursor: pointer;
        border: 2px solid var(--primary-color);
      }
    }
  }
  .black {
    background-color: var(--secondary-color);
  }
}
