.workpage-container {
  display: flex;
  flex-direction: column;
  gap: 128px;
  .info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header {
      display: flex;
      .info-topic {
        font-size: 80px;
        font-weight: 400;
        font-family: var(--secondary-font) !important;
        color: var(--main-color);
        margin-left: 36px;
        @media only screen and (max-width: 800px) {
          margin-left: 0;
          font-size: 64px;
        }
      }
    }
    .card-section {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      align-items: center;
    }
  }
}
